<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/template.html}">
<head>
<meta charset="UTF-8">
<title>Layout</title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{resources/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{resources/css/shopPage.css}">
<link rel="stylesheet" th:href="@{/resources/css/slick.css}">
<link rel="stylesheet" th:href="@{/resources/css/slick-theme.css}">


</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="my-4">j</div>
				<div class="mt-5">
					<div class="row">
						<div class="card col-3 my-4 mx-2">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<div class="card col-3 my-4 mx-2">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<div class="card col-3 my-4 mx-2" >
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<div class="card col-3 my-4 mx-2">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<div class="card col-3 my-4 mx-2">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<div class="card col-3 my-4 mx-2">
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
						<div class="card col-3 my-4 mx-2" >
							<div class="card-body">
								<h5 class="card-title">Special title treatment</h5>
								<p class="card-text">With supporting text below as a natural
									lead-in to additional content.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>
				</div>
			



		</div>

	</div>


	//-->

	<script type="text/javascript" defer
		th:src="@{/resources/js/jquery.min.js}"></script>
	<script type="text/javascript" defer
		th:src="@{/resources/js/slick.min.js}"></script>
	<script type="text/javascript" defer
		th:src="@{/resources/js/common.js}"></script>
	<script type="text/javascript" defer
		th:src="@{/resources/js/popper.min.js}"></script>
	<script type="text/javascript" defer
		th:src="@{/resources/js/bootstrap.min.js}"></script>
</body>
</html>