<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add</title>

    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">

</head>
<body>
<h1>check out delivery</h1>
<p>
    address:
    phone:
    name:
    total
</p>
<a th:href="@{/}">buy now</a>

<!--<form th:action="@{/items}" method="post" th:object="${item}">-->
<!--   <div>-->
<!--       <input type="hidden" th:field="*{id}">-->
<!--   </div>-->
<!--    <tabel>-->
<!--        <tr>-->
<!--            <td><label for="name">name</label></td>-->
<!--            <td><input type="text" th:field="*{name}">-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="price"></label></td>-->
<!--            <td><input type="text" th:field="*{price}">-->
<!--            </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <label for="category">Category name</label>-->
<!--            </td>-->
<!--            <td>-->
<!--                <input type="text" th:field="*{category.categoryName}">-->
<!--            </td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td>-->
<!--                <button type="submit">send</button>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </tabel>-->

<!--</form>-->
</body>
</html>